@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #543e93;
    --button-color: linear-gradient(180deg, #f05f5f 0%, #b33030 100%);
    --header-color: linear-gradient(to right, #291b6d 30%, #f8fc19 100%);
    --white: #ffff;
    --heading-font-size: 24px;
    --font-size-primary: 18px;
    --font-size-section: 14px;
    --font-size-section-header: 12px;
    --neutral-black: #000;
    --secondary-gray: #676668;
    --background-color-stick: #f8b700;
    --dark-gray: #171717;
}
html {
    box-sizing: border-box;
    overflow: hidden auto;
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
}
.SearchIcon {
    font-size: 24px;
}
.SelectItem {
    width: 48px;
    height: 24px;
    box-shadow: none;
}
.ant-select-selector {
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
    flex: 1 !important;
    border: none !important;
    box-shadow: none !important;
}
.ant-select {
    width: 54px;
    height: 28px;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    padding: 2px 6px;
    border: 0.2px solid transparent;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
    margin-right: 24px;
}
.ant-select-selection-item {
    display: flex !important;
    align-items: center !important;
    padding: 0;
}
.ant-select-arrow {
    font-size: 14px !important;
    right: 0 !important;
    color: black !important;
}
.ant-select-open {
    border-color: var(--primary);
    box-shadow: var(--primary) 0px 0px 6px;
}
.ant-select-dropdown {
    inset: 56px auto auto 896px !important;
}
.rc-virtual-list-holder-inner {
    row-gap: 6px;
}
.DownIcon {
    font-size: 16px;
    display: flex;
    align-items: center;
}
.Logo {
    margin-right: 18px;
}
